.form-heading {
  text-align: center;
  color: rgba(13, 1, 1, 0.7);
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  font-size: 1rem;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.error-text {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}

button {
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.divider span {
  color: #666;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .form {
    width: 90%;
    height: auto;
    margin: 40px auto;
    padding: 20px;
  }

  .form-heading {
    font-size: 1.4rem;
  }

  button {
    font-size: 0.95rem;
  }
}
