.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.loader-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
}

.loader {
  display: flex;
  gap: 10px;
  transform: translateX(20px);
  margin-top: 10px;
}

.loader span {
  width: 14px;
  height: 14px;
  background: #4da3ff;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-10px);
    background: #007bff;
  }
}
