body {
  overflow-y: hidden;
}
.user-name {
  display: flex;
}

.hero-section {
  text-align: center;
  padding: 50px 20px;
  color: #fff;
  background: linear-gradient(135deg, #4a90e2, #1c1f26);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.notes-length-title {
  margin: 10px;
}
.recent-notes-title {
  transform: translateY(15px);
}

.recent-notes {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  transform: translateY(60px);
  animation: fadeUp 0.8s ease forwards;
}

.note-card {
  width: 250px;
  height: 130px;
  text-align: start;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 20px;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.note-card h3 {
  margin-bottom: 10px;
  color: #ffdd57;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.note-card p {
  color: #e0e0e0;
  font-size: 0.95rem;
  line-height: 1.5;
  max-height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.note-card p {
  color: #e0e0e0;
  font-size: 0.95rem;
  line-height: 1.5;
}

.note-card:hover {
  transform: translateY(-5px);
  border-color: #ffdd57;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}
.no-note p {
  margin: 25px;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(60px);
  }
}

@media (max-width: 786px) {
  .welcome-title {
    width: 100%;
    font-size: 1.2rem;
  }

  .recent-notes {
    flex-direction: column;
    align-items: center;
    transform: translateY(40px);
  }

  .note-card {
    width: 80%;
  }
}
