.search-bar{
  width: 30% ;
  color: black;
  padding: 12px 15px;
  margin: 10px 40% 10px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s ease;

}
.search-bar:focus {
  border-color: #18709d; 
  box-shadow: 0 0 5px rgba(106, 13, 173, 0.3);
}
