.all-notes {
  padding-top: 28px;
  height: 100%;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.header .title {
  text-align: center;
  color: black;
  font-size: 2rem;
}

.search-bar {
  width: 100%;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  transition: border 0.2s;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
}

.notes {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.notes:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.notes h3 {
  margin: 0 0 5px 0;
  font-size: 1rem;
  font-weight: bold;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #333;
  animation: fadeIn 0.5s ease-in-out;
}

.empty-img {
  width: 50px;
  margin-bottom: 1.5rem;
  opacity: 0.9;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.empty-img:hover {
  transform: scale(1.05);
}

.empty-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: black;
}

.empty-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
  
}

.create-note-btn {
  background: linear-gradient(135deg, #007bff, #00d4ff);
  color: white;
  width: 21%;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 123, 255, 0.2);
}

.create-note-btn:hover {
  background: linear-gradient(135deg, #0056b3, #00aaff);
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}